<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMART on FHIR app with Python / FastAPI (Testing)</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <div id="mainCtr">
      <div id="headerCtr">
        <h1>SMART on FHIR starter app</h1>
      </div> <!-- 关闭 headerCtr -->
      <div id="bodyCtr">
        <h2>Basic Information</h2>
        <table>
          {% for key, value in data.items() %}
          <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
          </tr>
          {% endfor %}
        </table>
      </div> <!-- 关闭 bodyCtr -->
    </div> <!-- 关闭 mainCtr -->
  </body>
  <footer></footer>
</html>