<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMART on FHIR app</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <div id="mainCtr">
      <div id="headerCtr">
        <h1>SMART on FHIR starter app</h1>
      </div> <!-- Close headerCtr -->
      <div id="bodyCtr">
        <h2>Basic Information</h2>
        <table>
          {% for key, value in data.items() %}
          <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
          </tr>
          {% endfor %}
        </table>
        <h2>Calculation</h2>
        <table>
          {% for key, value in calc_data.items() %}
          <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
          </tr>
          {% endfor %}
        </table>
        <h3>Heart Disease Risk Calculation</h3>
        <div id="questions">
          <table>
            <tr>
              <p>Please answer the following questions:</p>
            </tr>
            <tr>
              <td>Do you have diabetes?</td>
              <td>
                  <input type="radio" id="diabetesYes" name="diabetes" value="yes">
                  <label for="diabetesYes">Yes</label>
              </td>
              <td>
                  <input type="radio" id="diabetesNo" name="diabetes" value="no">
                  <label for="diabetesNo">No</label>
              </td>
              <td id="diabetesError" class="error hidden">Please select one option.</td>
            </tr>
            <tr>
              <td>Do you smoke?</td>
              <td>
                  <input type="radio" id="smokingYes" name="smoking" value="yes">
                  <label for="smokingYes">Yes</label>
              </td>
              <td>
                  <input type="radio" id="smokingNo" name="smoking" value="no">
                  <label for="smokingNo">No</label>
              </td>
              <td id="smokingError" class="error hidden">Please select one option.</td>
            </tr>
            <tr>
              <td>Are you currently taking medication for hypertension?</td>
              <td>
                  <input type="radio" id="treatingHTNYes" name="treatingHTN" value="yes">
                  <label for="treatingHTNYes">Yes</label>
              </td>
              <td>
                  <input type="radio" id="treatingHTNNo" name="treatingHTN" value="no">
                  <label for="treatingHTNNo">No</label>
              </td>
              <td id="treatingHTNError" class="error hidden">Please select one option.</td>
            </tr>
          </table>
          <button id="submitAnswers">Submit</button>
        </div>
        <div id="result" class="hidden">
          <h3>Calculation Result</h3>
          <p id="riskResult"></p>
        </div>
      </div> <!-- Close bodyCtr -->
    </div> <!-- Close mainCtr -->
    <script src="/templates/calculate_ascvd_risk.js"></script>
  </body>
  <footer></footer>
</html>
